### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
Data_Player=purchase_data.loc[:,["SN","Gender","Age"]]
Data_Player.head()

              SN Gender  Age
0        Lisim78   Male   20
1    Lisovynya38   Male   40
2     Ithergue48   Male   24
3  Chamassasya86   Male   24
4      Iskosia90   Male   23

In [3]:
#Data_1 = Data_Player.drop_duplicates
#Data_1()

Data_1 = Data_Player.drop_duplicates()
Data_1

                SN  Gender  Age
0          Lisim78    Male   20
1      Lisovynya38    Male   40
2       Ithergue48    Male   24
3    Chamassasya86    Male   24
4        Iskosia90    Male   23
..             ...     ...  ...
773         Hala31    Male   21
774     Jiskjask80    Male   11
775     Aethedru70  Female   21
777     Yathecal72    Male   20
778        Sisur91    Male    7

[576 rows x 3 columns]

In [4]:
Total_players = Data_1.count()[0]
Total_players

576

In [5]:
pd.DataFrame({"Total Players":[Total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
item_total = len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].mean()
purchases_count = purchase_data["Price"].count()
total_purchase = purchase_data["Price"].sum()


item_total, average_price, purchases_count,total_purchase

(183, 3.050987179487176, 780, 2379.77)

In [7]:
summary_table = pd.DataFrame({"Number of Unique Items": item_total,
                              "Average Price": [average_price],
                               "Number of Purchases": [purchases_count],
                              "Total Revenue": [total_purchase]
                               })

summary_table ["Average Price"]= summary_table ["Average Price"].round(2).map("${:,.2f}".format)
summary_table ["Total Revenue"]= summary_table ["Total Revenue"].round(2).map("${:,.2f}".format)


summary_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
Gender = Data_1["Gender"].value_counts()#[0]

Gender

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [9]:
Avrg= Gender/ Total_players *100
Avrg
Gender_Data = pd.DataFrame({"Total" : Gender, "Average": Avrg})
Gender_Data
Gender_Data ["Average"]=Gender_Data ["Average"].round(2).map("{:,.2f}%".format)
Gender_Data

                       Total Average
Male                     484  84.03%
Female                    81  14.06%
Other / Non-Disclosed     11   1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:

Purchasing_Avrg = purchase_data.groupby(["Gender"]).mean()["Price"].round(2)
Purchasing_Count = purchase_data.groupby(["Gender"]).count()["Price"]
Purchasing = Purchasing_Count * Purchasing_Avrg

#.round(2).map("${:,.2f}".format)

Avrg_Pp = Purchasing / Gender_Data["Total"] 
                                         


Table_DF=pd.DataFrame({"Purchase Count":Purchasing_Count,
                       "Average Purchase Price":Purchasing_Avrg,
                       "Total Purchase Value":Purchasing,
                       "Avg Total Purchase per Person":Avrg_Pp})

Table_DF=Table_DF.round(2)

Table_DF["Avg Total Purchase per Person"]=Table_DF["Avg Total Purchase per Person"].map("${:,.2f}".format)
Table_DF["Total Purchase Value"]=Table_DF["Total Purchase Value"].map("${:,.2f}".format)
Table_DF["Average Purchase Price"]=Table_DF["Average Purchase Price"].map("${:,.2f}".format)


Table_DF

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.60,$4.46
Male,652,$3.02,"$1,969.04",$4.07
Other / Non-Disclosed,15,$3.35,$50.25,$4.57

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [11]:
Max_Age=purchase_data["Age"].max()

Min_Age=purchase_data["Age"].min()

print(Max_Age)
print(Min_Age)

45
7

In [12]:
#bins=[x for x in range (Min_Age,Max_Age,int((Max_Age - Min_Age)/7.8))]
bins=[0,9.90, 14, 19, 24, 29, 34,39,9999]                  
bins

[0, 9.9, 14, 19, 24, 29, 34, 39, 9999]

In [13]:
group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
SliceData=pd.cut(Data_1["Age"],bins,labels=group_labels)
SliceData.head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [14]:
Data_1["Category"]=SliceData

Data_1.head()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

              SN Gender  Age Category
0        Lisim78   Male   20    20-24
1    Lisovynya38   Male   40      40+
2     Ithergue48   Male   24    20-24
3  Chamassasya86   Male   24    20-24
4      Iskosia90   Male   23    20-24

In [ ]:
Cat_D1=Data_1["Category"].value_counts()
Players_Porcentage=Cat_D1/Total_players * 100


Age_Dem_df=pd.DataFrame({"Total Count":Cat_D1,
                         "Percentage of Players":Players_Porcentage})

Age_Dem_df=Age_Dem_df.sort_index()

Age_Dem_df["Percentage of Players"]=Age_Dem_df["Percentage of Players"].round(2).map("{:,.2f}%".format)

Age_Dem_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
PurchaseData1=pd.cut(purchase_data["Age"],bins,labels=group_labels)
PurchaseData1

In [ ]:
purchase_data["Category"]=PurchaseData1

purchase_data.head()

In [ ]:
New_Data=purchase_data.groupby(["Category"])#.mean()

In [ ]:
Total_DF=Data_Player.count()[0]

Total_DF

In [ ]:
Purchasing_Avrg_Age = purchase_data.groupby(["Category"]).mean()["Price"].round(2)
Purchasing_Count_Age = purchase_data.groupby(["Category"]).count()["Price"]
Purchasing_Age = Purchasing_Avrg_Age * Purchasing_Count_Age


#.round(2).map("${:,.2f}".format)

Avrg_Age = Purchasing_Age / Total_DF * 100
                                         


Table_DF2 = pd.DataFrame({"Purchase Count":Purchasing_Count_Age,
                       "Average Purchase Price":Purchasing_Avrg_Age,
                       "Total Purchase Value":Purchasing_Age,
                       "Avg Total Purchase per Person":Avrg_Age})

Table_DF2=Table_DF2.round(2)

Table_DF2["Avg Total Purchase per Person"]=Table_DF2["Avg Total Purchase per Person"].map("${:,.2f}".format)
Table_DF2["Total Purchase Value"]=Table_DF2["Total Purchase Value"].map("${:,.2f}".format)
Table_DF2["Average Purchase Price"]=Table_DF2["Average Purchase Price"].map("${:,.2f}".format)


Table_DF2()

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
User_Avrg_Age = purchase_data.groupby(["SN"]).mean()["Price"].round(2)
User_Count_Age = purchase_data.groupby(["SN"]).count()["Price"]
User_Age = User_Avrg_Age * User_Count_Age


#.round(2).map("${:,.2f}".format)

Avrg_User = User_Age / Total_DF * 100
                                         


Table_User = pd.DataFrame({"Purchase Count":User_Count_Age,
                            "Average Purchase Price":User_Avrg_Age,
                           "Avg Total Purchase per Person":Avrg_User,
                           "Total Purchase Value":User_Age})

Table_User=Table_User.round(2)

Table_User["Avg Total Purchase per Person"]=Table_User["Avg Total Purchase per Person"].map("${:,.2f}".format)
Table_User["Total Purchase Value"]=Table_User["Total Purchase Value"].map("${:,.2f}".format)
Table_User["Average Purchase Price"]=Table_User["Average Purchase Price"].map("${:,.2f}".format)


DF_USER=Table_User.sort_values(by=["Avg Total Purchase per Person"],ascending=False)

DF_USER.head(5)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame